input[type='checkbox'] {
  margin: 0;
}

.form-presenter {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.form-presenter-header {
  padding-bottom: 12px;
}
.field-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}
.field-wrapper-with-prepend {
  flex-direction: row;
}
.field-wrapper:last-child {
  margin-bottom: 0;
}
.error-message {
  display: block;
  color: red;
  font-size: 12px;
  text-overflow: ellipsis;
  padding: 5px;
}
.label {
  padding: 0;
  margin: 0;
  color: #000;
  text-align: left;
  font-size: 14px;
  padding: 4px 0 4px 4px;
}

/* TODO: split this class */
.input {
  width: 100%;
  height: 48px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  line-height: 48px;
  padding: 0 0.5rem;
  box-sizing: border-box;
  outline: none;
  font-size: 0.75rem;
}

.input-has-errors {
  background-color: #fff3f3;
}

.number-field {
  flex-direction: row;
}
.input-prepend {
  width: 48px;
  height: 48px;
  padding: 14px;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 4px 0 0 4px;
  border-right: none;
  text-align: center;
}

.currency {
  border-radius: 0px 4px 4px 0;
}
.input-prepend span {
  font-size: 18px;
}

.presenter-form-control-btn {
  background-color: #3cb2bf;
  border: none;
  outline: none;
  height: 48px;
  width: 120px;
  border-radius: 4px;
  color: #fff;
}

.presenter-form-control-btn[disabled] {
  opacity: 0.5;
}

.form-presenter-progress-bar {
  padding-bottom: 12px;
}

/*Birthdate Field*/

.select-wrapper {
  display: flex;
}

.select {
  min-width: 80px;
  max-width: 120px;
  width: 100%;
  margin-right: 12px;
}
.select:last-child {
  margin-right: 0px;
}
.select-yyyy {
  max-width: 160px;
}

/*Birthdate Field*/

/*Checkbox Description Field*/

.checkbox-field .label {
  padding: 0 0 0 4px;
}

.checkbox-field .checkbox-field-line-wrapper {
  display: flex;
  padding-bottom: 6px;
}

.checkbox-field-description {
  font-size: 0.75rem;
  max-width: 240px;
}

/*Checkbox Description Field*/

/*Custom Text Field*/
.customtext-field {
  margin-bottom: 20px;
  padding: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

/*Custom Radio Button Field*/
.radioBtnQuestion {
  display: block;
}
.radioBtnQuestion .question-title {
  display: block;
}
.radioBtnQuestion .radio-input-wrapper.one-column {
  width: 100%;
}
.radioBtnQuestion .radio-input-wrapper.two-columns {
  width: 50%;
}
.radioBtnQuestion .radio-input-wrapper.three-columns {
  width: 33%;
}
.radioBtnQuestion .radio-input-wrapper .radio-option-image,
.radioBtnQuestion .radio-input-wrapper .radio-button-input {
  margin: 0.5rem;
}
.radioBtnQuestion .radio-input-wrapper .radio-button-input {
  height: 13px;
  width: fit-content;
}

/*Custom Radio Button Field*/
