input[type=checkbox]{
  margin: 0 3px 0 0;
}
  .mainCheckBoxContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
  }
  .inline > div{
    margin: 5px;
  }
  .oneColumns > div{
    margin: 5px;
    flex: 0 0 calc(100% - 10px);
  }
  .twoColumns > div{
    margin: 5px;
    flex: 0 0 calc(50% - 10px);
  }
  .threeColumns > div{
    margin: 5px;
    flex: 0 0 calc(33% - 10px);
  }
  .hide{
    display:none;
  }


